:root {
  --font-family: "Outfit", sans-serif;

  --main-heading: 600 2.5rem var(--font-family);
  --sub-heading: 600 1.5rem  var(--font-family);
  --body-text: 400 1rem  var(--font-family);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 100%;
  min-height: 100vh;
  background-image: url("../images/Background_image.svg");
  background-color: #121826;


}

h1 {
  font: var(--main-heading);
  color: #e5e7eb;
  letter-spacing: -0.4px;
  width: 471px;
  text-align: center;
  margin-bottom: 1rem;
}
.description {
  font: var(--body-text);
  color: #9da3ae;
  letter-spacing: -0.16px;
  text-align: center;
}
h2 {
  font: var(--sub-heading);
  color: #e5e7eb;
  letter-spacing: -0.2px;
}
.card p {
  font: var(--body-text);
  color: #d2d5da;
  letter-spacing: -0.16px;
}

.wrap{
  width: 100%;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  
}

main{
  display: flex;
  padding: 0 2rem;
  gap: 3rem;
}
.card-container{
  width: 316px;
  padding: 24px;
  background-color: #212936;
}
.card-containt{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

figure{
  height: 193px;
  width: 267px;
}
figure img{
  width: 100%;
}

